html {
    color: #334;
}

body {
    color: #000;
    background-color: #d0e4fe;
}

p {
    font-size: 14px;
    font-family: "HelveticaNeue-Light";
}

h1 {
    font-size: 16px;
    color: Red;
    text-align: center;
}

.helloworld {
    font-weight: bold;
    text-align: center;
}